@import "tailwindcss";

@theme {
  --color-navy: oklch(25% 0.08 260);
  --color-deep-ocean-navy: oklch(15% 0.05 260);
  --color-gold: oklch(70% 0.15 65);
  --color-sail: #fcfcfc;
  --color-carbon: #111111;
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background-color: var(--color-sail);
  color: var(--color-carbon);
}